html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// GENERAL

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 125%;

  @media only screen and (max-width: 950px) {
    font-size: 112%;
  }
}

h1 {
  margin: 0;
}

// COLORS
$color-white: #f6f5f3;

$color-font: #2f2b23;

$color-green--light: #dee7bf;
$color-green--dark: #91c46d;

$color-brown: #866335;

$color-red: #7c2739;

// SPACING
$space-xl: 5rem;
$space-lrg: 2rem;
$space-med: 1.5rem;
$space-sml: 1rem;
$space-xs: 0.5rem;

// TYPOGRAPHY

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

$font-primary: "Quicksand", sans-serif;

$fs-huge: 3.052rem;
$fs-xl: 2.441rem;
$fs-lrg: 1.953rem;
$fs-med: 1.563rem;
$fs-sml: 1.25rem;
$fs-xs: 1rem;

// MAIN
.main {
  width: 1200px;
  background: $color-white;
  margin: $space-med auto 0 auto;
  font-family: $font-primary;
  color: $color-font;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  border: 1px solid $color-green--light;
  position: relative;

  display: grid;
  grid-template-rows: 7rem minmax(calc(100vh - 7rem), min-content);

  @media only screen and (max-width: 1200px) {
    width: 90%;
  }
}

// HEADER
.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-bottom: 3px solid $color-green--light;
  position: relative;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    height: 9rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 0;
  }

  &__welcome {
    font-size: $fs-sml;
    letter-spacing: 1px;

    @media only screen and (max-width: 950px) {
      font-size: $fs-xs;
    }

    & span {
      display: block;
    }

    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  &__chatter {
    width: 17rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 800px) {
      position: relative;
    }

    @media only screen and (max-width: 950px) {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }

    @media only screen and (max-width: 800px) {
      justify-content: center;
      width: 100%;
      margin-bottom: $space-sml;
    }

    @media only screen and (max-width: 500px) {
    }

    &--title {
      font-size: $fs-huge;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      align-self: flex-end;

      @media only screen and (max-width: 950px) {
        font-size: $fs-xl;
      }

      @media only screen and (max-width: 800px) {
        margin-right: $space-sml;
      }

      @media only screen and (max-width: 500px) {
        font-size: $fs-lrg;
      }
    }

    &--img {
      height: 3.5rem;

      @media only screen and (max-width: 950px) {
        margin-top: 3px;
        height: 3rem;
      }
    }
  }

  &__clear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: $fs-sml;

    @media only screen and (max-width: 800px) {
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    @media only screen and (max-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    @media only screen and (max-width: 500px) {
      width: 90%;
    }

    & .clear-container {
      width: inherit;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 800px) {
        justify-content: center;
        width: 7rem;
      }
    }

    &--copy {
      font-size: $fs-sml;

      @media only screen and (max-width: 950px) {
        font-size: $fs-xs;
      }

      @media only screen and (max-width: 800px) {
        margin-right: $space-xs;
      }
    }

    &--btn-clear {
      border: none;
      background: none;
      transition: all 0.2s;
      margin-top: 2px;

      @media only screen and (max-width: 950px) {
        margin-top: 0;
      }
    }

    &--btn-clear:hover {
      cursor: pointer;
      transform: translateY(-2px);
    }

    & .icon {
      font-size: $fs-sml;
    }

    & .log-out-btn {
      width: 8rem;
      background: $color-red;
      border: 1px solid $color-white;
      padding: 0.25rem 0;
      color: $color-white;
      cursor: pointer;
      transition: all 0.2s;
      border-radius: 3px;

      @media only screen and (max-width: 950px) {
        font-size: $fs-xs;
        width: 6rem;
      }
    }

    & .log-out-btn:hover,
    .log-out-btn:focus {
      filter: brightness(125%);
    }
  }
}

// COMMENTS
.comments {
  padding: 0 $space-lrg;
  @media only screen and (max-width: 800px) {
    padding-top: $space-lrg;
  }

  &__comment {
    padding: $space-med;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-green--dark;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (max-width: 500px) {
      padding: $space-sml 0;
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 7rem;
    }

    &--user {
      margin-right: $space-med;
      align-self: flex-start;
      font-size: $fs-sml;
      font-weight: 500;
      width: 10rem;

      @media only screen and (max-width: 1200px) {
        width: 15%;
      }

      @media only screen and (max-width: 950px) {
        font-size: $fs-xs;
      }

      @media only screen and (max-width: 800px) {
        font-size: $fs-sml;
        width: 100%;
      }
    }

    &--copy {
      flex: 1;
      letter-spacing: 1px;

      @media only screen and (max-width: 1200px) {
        width: 100%;
      }

      @media only screen and (max-width: 800px) {
        order: 2;
        font-size: $fs-sml;
      }
    }

    &--date-time {
      margin-left: $space-med;
      font-weight: 500;
      color: $color-brown;
      justify-self: flex-start;
      width: 8rem;
      align-self: flex-start;

      @media only screen and (max-width: 1200px) {
        width: 15%;
      }

      @media only screen and (max-width: 800px) {
        width: 100%;
        margin-left: 0;
        order: 1;
        margin: 0.25rem 0 $space-sml 0;
      }
    }
  }
}

// SEND
.send {
  justify-self: center;

  border: 1px solid $color-green--dark;
  border-radius: 5px;
  position: fixed;
  height: 5rem;
  width: calc(1200px - 2rem);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-green--light;

  @media only screen and (max-width: 1200px) {
    width: 85%;
  }

  &__container {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    overflow: hidden;

    @media only screen and (max-width: 500px) {
      flex-direction: column;
    }

    & input {
      width: 80%;
      border: none;
      height: 2rem;
      font-family: $font-primary;
      padding-left: 8px;

      &:placeholder {
        color: $color-brown;
      }

      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }

    & button {
      cursor: pointer;
      width: 20%;
      height: 2rem;
      border: 1px solid $color-green--dark;
      color: $color-white;
      text-transform: uppercase;
      background-color: $color-green--dark;

      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }
}

// SIGN IN
.sign-in {
  height: 60vh;
  padding: $space-med;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .header__chatter {
    @media only screen and (max-width: 950px) {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }

    @media only screen and (max-width: 800px) {
      position: none;
      left: auto;
      transform: none;
      align-self: center;
    }
  }

  &__message {
    margin: $space-xl 0 $space-med 0;
    font-size: $fs-med;
    letter-spacing: 1px;

    @media only screen and (max-width: 950px) {
      font-size: $fs-sml;
    }

    @media only screen and (max-width: 800px) {
      margin: $space-med 0;
      text-align: center;
    }
  }

  .sign-in-btn {
    height: 3rem;
    padding: 0 $space-med;
    border: 1px solid $color-font;
    background: $color-green--light;
    font-family: $font-primary;
    font-weight: 500;
    font-size: $fs-sml;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-font;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;

    @media only screen and (max-width: 950px) {
      font-size: $fs-sml;
    }
  }

  .sign-in-btn:hover,
  .sign-in-btn:focus {
    background: $color-green--dark;
  }

  .created {
    position: absolute;
    bottom: 3rem;
    text-align: center;

    & a:link,
    a:visited {
      text-decoration: none;
      color: $color-green--dark;
      font-weight: 500;
      transition: all .2s;
    }

    & a:hover,
    a:focus {
      color: $color-brown;
    }
    & span {
      display: block;
    }
  }
}
